body{
  padding: 100px;
}

.conteiner{
  width:100px;
  height:100px;
  background-color: royalblue;
}

.conteiner .item{
  width: 100px;
  height: 100px;
  background-color: orange;
  transform: rotate(45deg);  
}